{% extends "base.html" %} {% block title %}Freund Hinzufügen{% endblock %} {%
block content %}

<section class="">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-6">
        <h2 class="text-center mb-4">Alle Benutzer</h2>

        <form
          method="GET"
          action="{{ url_for('main.add_friend_page') }}"
          class="mb-5"
        >
          <div class="input-group">
            <input
              type="text"
              id="search"
              name="search"
              class="form-control"
              placeholder="Benutzername eingeben"
              aria-label="Benutzername eingeben"
              aria-describedby="searchButton"
              required
            />
            <div class="input-group-append">
              <button
                class="btn ml-3 btn-primary"
                type="submit"
                id="searchButton"
              >
                Suchen
              </button>
            </div>
          </div>
        </form>

        <ul class="list-group">
          {% for user in users %}
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            {{ user.username }}
            <form
              action="{{ url_for('main.add_friend', username=user.username) }}"
              method="POST"
              class="m-0"
            >
              <button type="submit" class="btn btn-outline-primary btn-sm">
                Freund Hinzufügen
              </button>
            </form>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
