<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
  </head>
  <body>
    <header>
      <h1>Nachbarschafts-Tool-Sharing</h1>
      <nav>
        <a href="{{ url_for('main.explore') }}">Werkzeuge erkunden</a>

        <a href="{{ url_for('main.submit_tool') }}">Werkzeug einreichen</a>
        <a href="{{ url_for('auth.logout') }}">Abmelden</a>
        <a href="{{ url_for('main.borrowing_history') }}">borrowing_history</a>
      </nav>
    </header>

    <div class="container mt-3">
      <!-- Flash messages section -->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="alert-container">
        {% for category, message in messages %}
        <div
          class="alert alert-{{ category }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
    </div>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; 2024 Nachbarschafts-Tool-Sharing</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </body>
</html>
